<html>
    <head>
        <title>skysimctl</title>
    </head>
    <body>
        <h2>Sky Simulator Controller: Failed to Connect</h2>
        <table>
            <tr>
                <td>Status</td>
                <td>{{ exception.status_code }}</td>
            </tr>
            <tr>
                <td>Details</td>
                <td>{{ exception.detail }}</td>
            </tr>
        </table>
    </body>
</html>
