<html>
    <head>
        <title>skysimctl</title>
    </head>
    <body>
        <h2>Sky Simulator Controller</h2>
        <table>
            <tr>
                <td>Correlated_Noise_Source</td>
                <td>{{ device_proxy.Correlated_Noise_Source }}</td>
            </tr>
            <tr>
                <td>H_Channel</td>
                <td>{{ device_proxy.H_Channel }}</td>
            </tr>
            <tr>
                <td>V_Channel</td>
                <td>{{ device_proxy.V_Channel }}</td>
            </tr>
            <tr>
                <td>Uncorrelated_Noise_Sources</td>
                <td>{{ device_proxy.Uncorrelated_Noise_Sources }}</td>
            </tr>
            <tr>
                <td>Band</td>
                <td>{{ device_proxy.Band | int }}</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>{{ device_proxy.temperature | int }}°C</td>
            </tr>
        </table>
    </body>
</html>
