#!/bin/bash
# This script creates a new virtual environment at {{ sky_sim_web_env_dir }}.
# Then it installs the dependencies in ${SKYSIMWEB_ENV_DIR}/var/requirements.txt in the environment.


set -eux

SKYSIMWEB_ENV_DIR="{{ sky_sim_web_env_dir }}"
SKYSIMWEB_BIN_DIR=${SKYSIMWEB_ENV_DIR}/bin

# We need to run this as the "{{ sky_sim_usr }}".
# I couldn't figure out how to do this with Ansible's
# `become_user` directive, so we take this approach instead.
sudo -i -u "{{ sky_sim_usr }}" bash << EOF
set -eux

python3 -m venv --upgrade-deps ${SKYSIMWEB_ENV_DIR}
source ${SKYSIMWEB_BIN_DIR}/activate
${SKYSIMWEB_BIN_DIR}/python3 -m pip install -r ${SKYSIMWEB_ENV_DIR}/var/requirements.txt
EOF