#!/usr/bin/bash

set -eu
set -o pipefail

export SKYSIMWEB_ENV_DIR="{{ sky_sim_web_env_dir }}"
export SKYSIMWEB_BIN_DIR="{{ sky_sim_web_env_dir }}"/bin
export TANGO_HOST="{{ tango_host }}"
export PI_VERSION="{{ pi_version }}"
export SKYSIMWEB_HOST="{{ skysimweb_host }}"
export TEMPLATES_DIR=${SKYSIMWEB_ENV_DIR}/var/templates
# PI_VERSION is prefixed with 'pi' so we use everything from the 3rd character onward for the DEVICE_IDENTIFIER.
# This should be '4' for 'pi4'.
export DEVICE_INSTANCE=${PI_VERSION:2}

# Use authbind so that we can bind to port 80.
authbind --deep ${SKYSIMWEB_BIN_DIR}/python3 ${SKYSIMWEB_BIN_DIR}/skysimweb.py
