#!/usr/bin/bash

set -u
set -o pipefail

export SKYSIMCTL_ENV_DIR="{{ sky_sim_ctl_env_dir }}"
export SKYSIMCTL_BIN_DIR=${SKYSIMCTL_ENV_DIR}/bin
export TANGO_HOST="{{ tango_host }}"
export PI_VERSION="{{ pi_version }}"
export PYTHONPATH=${SKYSIMCTL_ENV_DIR}/src

CLASS_NAME=SkySimCtlDevice
DEVICE_SERVER_NAME=SkySimCtlDevice
DEVICE_IDENTIFIER=${PI_VERSION}
DEVICE_SERVER_NAME_FULL=${DEVICE_SERVER_NAME}/${DEVICE_IDENTIFIER}
# PI_VERSION is prefixed with 'pi' so we use everything from the 3rd character onward for the DEVICE_IDENTIFIER.
# This should be '4' for 'pi4'.
DEVICE_INSTANCE=${PI_VERSION:2}
DEVICE_NAME=mid-itf/skysimctl/${DEVICE_INSTANCE}
DEVICE_PORT={{ device_port }}

tango_admin --add-server ${DEVICE_SERVER_NAME_FULL} ${CLASS_NAME} ${DEVICE_NAME}

${SKYSIMCTL_BIN_DIR}/python3 ${SKYSIMCTL_BIN_DIR}/skysim_controller_device.py ${DEVICE_IDENTIFIER} -ORBendPoint giop:tcp:0.0.0.0:${DEVICE_PORT}
